@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@font-face {
  font-family: "Agilera";
  src: url("/fonts/agilera.ttf") format("truetype");
}
@font-face {
  font-family: "Camiro";
  src: url("/fonts/Camiro.ttf") format("truetype");
}
@font-face {
  font-family: "VELISTA";
  src: url("/fonts/VELISTA.ttf") format("truetype");
}

h1{
 /* font-family: "VELISTA"; */
 /* font-family: "Camiro"; */
 font-family: "Agilera";
}


body {
  font-family: 'Playfair Display', serif;
}
